#parent{
    background-color: cornsilk;
    border: 2px solid black;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
} 

#parent > #child1{
    background-color: #e7ff2f;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    grid-row-start: 1;
    grid-row-end: 3;
}

#parent > #child2{
    background-color: rgb(255, 47, 158);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
}

#parent > #child3{
    background-color:  rgb(47, 241, 255);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    grid-column-start: 3;
    grid-column-end: 3;
}

#parent > #child4{
    background-color: hwb(32 18% 0%);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    grid-row-start: 3;
    grid-row-end: 2;
}

#parent > #child5{
    background-color:  rgb(61, 47, 255); 
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    grid-row-start: 2;
    grid-row-end: 2;
}

#parent > #child6{
    background-color: hwb(32 18% 0%);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    grid-row-start: 3;
    grid-row-end: 3;
}

#parent > #child7{
    background-color: #e7ff2f;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    grid-row-start: 3;
    grid-row-end: 5;
}

#parent > #child8{
    background-color: greenyellow;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    grid-row-start: 3;
    grid-row-end: 3;
}

#parent > #child9{
    background-color:  rgb(255, 47, 193); 
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    grid-row-start: 4;
    grid-row-end: 4;
}


#parent > #child10{
    background-color: rgb(196, 47, 255);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    grid-row-start: 4;
    grid-row-end: 4;
}

#parent > #child11{
    background-color: rgb(61, 47, 255);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    grid-row-start: 5;
    grid-row-end: 5;
}

#parent > #child12{
    background-color:  rgb(196, 47, 255);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    grid-row-start: 5;
    grid-row-end: 5;
}

#parent > #child13{
    background-color: #e7ff2f;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    grid-row-start: 5;
    grid-row-end: 7;
}
#parent > #child14{
    background-color: rgb(47, 241, 255);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    grid-row-start: 6;
    grid-row-end: 6;
}


#parent > #child15{
    background-color: greenyellow;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    grid-row-start: 6;
    grid-row-end: 6;
}




