h1{
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: black;
 font-size: 40px;
 justify-content: start;
}
#parentdiv{
    background-color: floralwhite;
    gap:10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    justify-items: center;
    
}
#parentdiv >  img{
    border: 2px solid black;
    width: 100%;
    margin:10px 10px;

}